@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

html,body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: Roboto!important;
    -webkit-app-region:drag;
}

.hide {
    display: none!important;
}

#red-line {
    background-color: #E3CECD;
    position: fixed;
    left: 45px;
    top: 0px;
    width: 1px;
    height: 100%;
}

#note-toggles {
    position: fixed;
    background-color: #FFF;
    right: 0px;
    left: 0px;
    z-index: 999;
    border-bottom: solid 1px #E5E5E5;
}

#note-toggles #toggles {
    display: flex;
}

#note-toggles #toggles button {
    display: flex;
    flex-grow: 1;
    padding: 15px;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #FFF;
}

#note-toggles #toggles button:hover {
    background: #F7F7F7;
}

#note-toggles #toggles button.selected {
    background: #F0F0F0;
}

.content {
    display: none;
}

.content.focused {
    display: block;
}